 <mat-list-item>{{user.email}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{user.username}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{user.name}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{user.date}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{user.description}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{user.venues}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{user.artists}}</mat-list-item>
  <mat-divider></mat-divider>
