<title>Sligo Sounds - Venue Profile</title>
<div class="content">
    <mat-card class="form">
  <mat-card class="left">
    <h2 style="font-size:4.5vw;">Venue Info</h2>
        <mat-card-content id="profile-img"><img src="/src/app/images/no-photo.png"></mat-card-content>

  <mat-list-item style="font-size:1.5vw;">Email: {{user.email}}</mat-list-item>

  <mat-list-item style="font-size:1.5vw;">Name: {{user.name}}</mat-list-item>

  <mat-list-item style="font-size:1.5vw;">Description: {{user.description}}</mat-list-item>

  <mat-list-item style="font-size:1.5vw;">Venue Type: {{user.venueType}}</mat-list-item>

  <mat-list-item style="font-size:1.5vw;">Building No: {{user.building}}</mat-list-item>

  <mat-list-item style="font-size:1.5vw;">Street: {{user.street}}</mat-list-item>

  <mat-list-item style="font-size:1.5vw;">Town: {{user.city}}</mat-list-item>

  <mat-list-item style="font-size:1.5vw;">Hours: {{user.hours}}</mat-list-item>
  </mat-card>
  <mat-card class="right">
      <h1 style="font-size:3.5vw;">Upcoming Events</h1>
      <mat-card class="background">
          <div *ngIf='events && events.length'>
          <mat-card class="event-card" *ngFor='let event of filteredEvents'>
          <mat-card-header>
          <div mat-card-avatar class="event-header-image"></div>
          <mat-card-title><strong>{{event.name}}</strong></mat-card-title>
          <mat-card-subtitle><strong>Venue:</strong>{{event.venue}} - <strong>Time:</strong>{{event.time}} - <strong>Date:</strong>{{event.date}} - <strong>Genre:</strong>{{event.genre}}</mat-card-subtitle>
          </mat-card-header>
          <img *ngIf="!event.hideMe" mat-card-image src="{{event.image}}" alt="event-img">  <mat-card-content>
          <p>
          {{event.description}}
          </p>
          </mat-card-content>
          <mat-card-actions>
          <button mat-button style="color:#ff0000" (click)="deleteEvent(event.eventId)">DELETE FROM FEED</button>
          </mat-card-actions>
          </mat-card>
        </div>
